<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <iSearch.Properties.Settings>
            <setting name="SEARCHgg" serializeAs="String">
                <value>gg,https://www.google.com,https://www.google.com/search?q=$,+</value>
            </setting>
            <setting name="SEARCHimdb" serializeAs="String">
                <value>imdb,http://www.imdb.com,http://www.imdb.com/find/?q=$,+</value>
            </setting>
            <setting name="SEARCHmap" serializeAs="String">
                <value>map,https://www.google.com/maps,https://www.google.com/maps/search/$,+</value>
            </setting>
            <setting name="SEARCHso" serializeAs="String">
                <value>so,https://www.stackoverflow.com,https://www.stackoverflow.com/search?q=$,+</value>
            </setting>
            <setting name="SEARCHyou" serializeAs="String">
                <value>you,https://www.youtube.com,https://www.youtube.com/results?search_query=$,+</value>
            </setting>
            <setting name="SEARCHamaz" serializeAs="String">
                <value>amaz,http://www.amazon.com,http://www.amazon.com/s/?keywords=$,%20</value>
            </setting>
            <setting name="SEARCHflix" serializeAs="String">
                <value>flix,https://www.netflix.com,https://www.netflix.com/search/$,%20</value>
            </setting>
            <setting name="SEARCHev" serializeAs="String">
                <value>ev,c:\program files\everything\everything.exe,c:\program files\everything\everything.exe -s "$",</value>
            </setting>
            <setting name="SEARCHurb" serializeAs="String">
                <value>urb,http://www.urbandictionary.com,http://www.urbandictionary.com/define.php?term=$,+</value>
            </setting>
            <setting name="SEARCHdic" serializeAs="String">
                <value>dic,https://www.merriam-webster.com,https://www.merriam-webster.com/dictionary/$,%20</value>
            </setting>
            <setting name="Browser1" serializeAs="String">
                <value>iexplore.exe</value>
            </setting>
            <setting name="OffsetHeight" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="OffsetWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SEARCHwf" serializeAs="String">
                <value>wf,http://www.wellsfargo.com,,,</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</value>
            </setting>
            <setting name="SEARCHebay" serializeAs="String">
                <value>ebay,https://www.ebay.com,https://www.ebay.com/sch/i.html?_from=R40&amp;_trksid=p2060353.m570.l1312.R1.TR0.TRC0.A0.H0.TRS1&amp;_sacat=0&amp;_nkw=$,+</value>
            </setting>
            <setting name="SEARCHnyt" serializeAs="String">
                <value>nyt,https://www.nytimes.com,https://www.google.com/search?q=site:nytimes.com+$,+</value>
            </setting>
            <setting name="SEARCHwik" serializeAs="String">
                <value>wik,http://www.wikipedia.org/wiki,http://en.wikipedia.org/wiki/$,_</value>
            </setting>
            <setting name="SEARCHtofr" serializeAs="String">
                <value>tofr,https://translate.google.com/?hl=en&amp;tab=rT,https://translate.google.com/?hl=en&amp;op=translate&amp;sl=enop=translate&amp;sl=en&amp;tl=fr&amp;text=$,%20</value>
            </setting>
            <setting name="SEARCHtoeng" serializeAs="String">
                <value>toeng,https://translate.google.com/?hl=en&amp;tab=rt#view=home&amp;op=translate&amp;sl=auto&amp;tl=en,https://translate.google.com/?hl=en&amp;tab=rt#view=home&amp;op=translate&amp;sl=auto&amp;tl=en&amp;text=$,%20</value>
            </setting>
            <setting name="SEARCHfedex" serializeAs="String">
                <value>fedex,https://www.fedex.com/en-us/home.html,,,</value>
            </setting>
            <setting name="SEARCHgm" serializeAs="String">
                <value>gm,https://mail.google.com/mail,,,</value>
            </setting>
            <setting name="ALIASem" serializeAs="String">
                <value>em,gm</value>
            </setting>
        </iSearch.Properties.Settings>
    </applicationSettings>
</configuration>
