<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <iSearch.Properties.Settings>
            <setting name="SEARCHgg" serializeAs="String">
                <value>gg,https://www.google.com/search?q=,SEP=+</value>
            </setting>
            <setting name="SEARCHimdb" serializeAs="String">
                <value>imdb,http://www.imdb.com/find/?q=,SEP=+</value>
            </setting>
            <setting name="SEARCHmap" serializeAs="String">
                <value>map,https://www.google.com/maps/search/,SEP=+</value>
            </setting>
            <setting name="SEARCHso" serializeAs="String">
                <value>so,https://www.stackoverflow.com/search?q=,SEP=+</value>
            </setting>
            <setting name="SEARCHwik" serializeAs="String">
                <value>wik,http://www.wikipedia.org/wiki/Special:Search/,SEP=_</value>
            </setting>
            <setting name="SEARCHyou" serializeAs="String">
                <value>you,https://www.youtube.com/results?search_query=,SEP=+</value>
            </setting>
            <setting name="SEARCHamaz" serializeAs="String">
                <value>amaz,http://www.amazon.com/s/?keywords=,SEP=%20</value>
            </setting>
            <setting name="SEARCHflix" serializeAs="String">
                <value>flix,https://www.netflix.com/search/,SEP=%20</value>
            </setting>
            <setting name="SEARCHnyt" serializeAs="String">
                <value>nyt,http://query.nytimes.com/search/sitesearch/?action=click&amp;contentCollection&amp;region=TopBar&amp;WT.nav=searchWidget&amp;module=SearchSubmit&amp;pgtype=Homepage#/,SEP= </value>
            </setting>
            <setting name="SEARCHev" serializeAs="String">
                <value>ev,c:\program files\everything\everything.exe ,PARM=-s "$"</value>
            </setting>
            <setting name="SEARCHurb" serializeAs="String">
                <value>urb,http://www.urbandictionary.com/define.php?term=,SEP=+</value>
            </setting>
            <setting name="SEARCHdic" serializeAs="String">
                <value>dic,https://www.merriam-webster.com/dictionary/,SEP=%20</value>
            </setting>
        </iSearch.Properties.Settings>
    </applicationSettings>
</configuration>